ul.list {
  margin: 0;
  padding: 0;
}

.list {
  margin: 0;
  width: 100%;
}

.item {
  padding: $space-xs 0 $space-xs $space-m;

  &:hover {
    background-color: $focus;
  }
}

.emojiWrapper {
  display: inline;
  padding-right: $space-xs;
}

.comboBoxWrapper {
  --height: 46px;
  height: var(--height);
  width: fit-content;
}

.comboBoxContent {
  box-sizing: border-box;
  border-radius: 7px;
  overflow: hidden;
  border: 3px solid #000;
  background: $color-type-body;
  transition: max-height 0.3s ease,
              border-color 0.3s cubic-bezier(0.1, -0.6, 0.2, 0),
              z-index 0.3s ease;
              ;
  position: relative;

  @include bp($bp-phone) {
    width: 100%;
  }


}

.collapsed {
  max-height: var(--height);
  border-color: transparentize($brand, 1.0);
  z-index: 2;
}

.expanded {
  max-height: 1000px;
  border-color: transparentize($brand, 0.0);
  z-index: 2000;
}
