ul.list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.list {
  margin: 0;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;

  @include bp($bp-phone) {
    width: 100%;
  }
}

.item {
  cursor: pointer;
  background: $color-type-body;
  font-size: 10px;
  font-weight: 600;
  &:hover {
    background-color: $focus;
  }
}

.focused {
  background-color: $focus;
}
