.inputFieldWrapper {
  height: max-content;
  position: relative;
}

.inputField {
  height: 42px;
  line-height: 2rem;
  width: 265px;
  border: 0;
  border-radius: 5px;
  padding: 0 13px;
  font-size: 12px;

  &:not(:focus) {
    background: $focus;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $grey-3;
  }

  @include bp($bp-phone) {
    width: 100%;
  }
}

.inputFieldClosed:focus {
  background: $focus;
}

.chevronIcon {
  position: absolute;
  display: inline-block;
  pointer-events: none;

  vertical-align: baseline;
  width: 10px;
  height: 10px;

  margin: auto;
  right: 14px;
  top: 50%;
  fill: $color-type-icon;
  transform: translate(0, -50%);

  @include bp($bp-phone) {
    vertical-align: baseline;
    margin-right: $space-xs;
    height: 100%;
    top: 0;
    transform: none;
  }
}
